---
- name: resolve platform specific vars
  include_vars: '{{item}}'
  with_first_found:
    - files:
        - '{{ansible_distribution}}-{{ansible_distribution_release}}.yml'
        - '{{ansible_distribution}}.yml'
        - '{{ansible_os_family}}.yml'
      skip: true
      paths:
        - '{{role_path}}/vars'
    
- name: get bootstrapping script...
  become: yes
  become_user: root
  get_url:
    url: '{{gitlab_ci_multi_runner_url}}'
    dest: /tmp/gitlab-runner.sh
    mode: 0755

- name: running bootstrap script
  become: yes
  become_user: root
  command: /tmp/gitlab-runner.sh
  args:
    creates: /usr/bin/gitlab-runner

- name: install gitlab-runner
  become: yes
  become_user: root
  package:
    name: gitlab-runner
    state: present

- name: add the gitlab-runner user to the docker group
  become: yes
  become_user: root
  with_items: '{{gitlab_ci_multi_runner_addl_groups}}'
  user:
    name: gitlab-runner
    append: yes
    groups: '{{item}}'

- name: mkdir /etc/gitlab-runner and /etc/sysconfig
  become: yes
  become_user: root
  with_items:
    - d: /etc/gitlab-runner
      m: '0600'
    - d: /etc/sysconfig
      m: '0755'
  file:
    state: directory
    path: '{{item.d}}'
    mode: '{{item.m}}'

- name: install sysconfig/gitlab-runner
  become: yes
  become_user: root
  with_items:
    - d: /etc/sysconfig
      f: gitlab-runner
      m: '0644'
    - d: /etc/gitlab-runner
      f: config.toml
      m: '0600'
  template:
    src: '{{item.f}}.j2'
    dest: '{{item.d}}/{{item.f}}'
    mode: '{{item.m}}'

- include_tasks: '{{gitlab_ci_multi_runner_init|default("systemd")}}.yml'
