---
- stat: path='/usr/bin/gitlab-ci-multi-runner'
  register: gitlabCIbinary

- name: install
  when: gitlabCIbinary.stat.exists == False
  include: install.yml

# tasks file for gitlab-ci-multi-runner
- name: add the gitlab-runner user to the docker group
  user: name=gitlab-runner append=yes groups=docker

- name: service configurator...
  include: service-config.yml
  
- name: restart gitlab-runner
  service: name=gitlab-runner state=restarted