---
- name: resolve platform specific vars
  include_vars: "{{item}}"
  with_first_found:
    - "{{ansible_distribution}}-{{ansible_distribution_release}}.yml"
    - "{{ansible_distribution}}.yml"
    - "{{ansible_os_family}}.yml"
    
- name: get bootstrapping script...
  become: yes
  become_user: root
  get_url: >-
    url={{gitlab_ci_multi_runner_url}}
    dest=/tmp/gitlab_ci_multi.sh
    mode=0755

- name: running bootstrap script
  become: yes
  become_user: root
  command: /tmp/gitlab_ci_multi.sh
  args:
    creates: /usr/bin/gitlab-ci-multi-runner

- name: install gitlab-ci-multi-runner
  become: yes
  become_user: root
  package: name=gitlab-ci-multi-runner state=present

- name: add the gitlab-runner user to the docker group
  become: yes
  become_user: root
  user: name=gitlab-runner append=yes groups=docker

- name: mkdir /etc/sysconfig for gitlab-runner config
  become: yes
  become_user: root
  file: >-
    path=/etc/sysconfig
    state=directory
    mode=0755
  
- name: install sysconfig/gitlab-runner
  become: yes
  become_user: root
  register: gitlabrunnerServiceInstall
  with_items:
    - etc/sysconfig/gitlab-runner
    - etc/systemd/system/gitlab-runner.service
  template: >-
    src={{item}}.j2
    dest=/{{item}}
    mode=0644

- name: systemctl daemon-reload
  become: yes
  become_user: root
  command: systemctl daemon-reload
  when: gitlabrunnerServiceInstall|changed
    
- name: restart gitlab-runner
  become: yes
  become_user: root
  service: name=gitlab-runner state=started enabled=yes
